@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

:root {
    --ModeElements: hsl(209, 23%, 22%);
    --ModeBackground: hsl(207, 26%, 17%);
    --ModeText: hsl(0, 0%, 100%);
}

.light {
    --ModeElements: hsl(0, 0%, 100%);
    --ModeBackground: hsl(0, 0%, 95%);
    --ModeText: hsl(200, 15%, 8%);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--ModeText);
    font-family: 'Nunito Sans'!important; 
    background-color: var(--ModeBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country a {
    text-decoration: none;
    color: var(--ModeText);
}

#textMode {
    color: var(--ModeText);
}

nav{
    height: 10vh;
    width: 100%;
    background-color: var(--ModeElements);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tittle {
    color: var(--ModeText);
    text-decoration: none;
    font-weight: 800;
    margin-left: 7%;
    font-size: 25px;
}

.mode {
    cursor: pointer;
    color: var(--ModeElements);
    background-color: transparent;
    outline: none;
    border: none;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    margin-right: 7%;
}

.mgpd-0 {
    margin: 0;
    padding: 0;
}

.fw-800 {
    font-weight: 800;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 5vh 0 ;
}

.search {
    display: flex;
    align-items: center;
    background-color: var(--ModeElements);
    width: 40%;
    height: 50px;
}

.searchInput {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: var(--ModeText);
}

.searchInput::placeholder {
    color: var(--ModeText);
    opacity: .5;
}

.fa-arrow-right {
    font-size: 20px;
}

.fa-magnifying-glass {
    padding: 0 20px;
    fill: var(--ModeText);
    width: 20px;
}

.fa-moon {
    font-size: 20px;
    color: var(--ModeText);
}

.region {
    background-color: var(--ModeElements);
    color: var(--ModeText);
    border: none;
    outline: none;
    width: 20%;
    padding: 0 20px;
    cursor: pointer;
}

.countries {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.country {
    background-color: var(--ModeElements);
    width: 296px;
    height: 400px;
    cursor: pointer;
}

.flag {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.flag img {
    object-fit: cover;
    width: 100%;
}

.content {
    padding: 20px;
}

.content p {
    margin-bottom: 5px !important;
}

h2 {
    margin-bottom: 20px !important;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 3vh 0;
    gap: 15px;
}

.page-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--ModeText);
}

.page-link.active {
    background-color: var(--ModeElements);
    border-radius: 50%;
    font-weight: 800;
}

#back {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
    border: none;
    outline: none;
    background-color: var(--ModeElements);
    color: var(--ModeText);
    cursor: pointer;
}

#back p {
    font-size: 20px;
    margin: 0;
}

#flag {
    width: 50%;
}

.detail {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    height: 500px;
}

#nameCountry {
    font-size: 40px;
    margin: 0 !important;
    color: var(--ModeText);
}

section p {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    color: var(--ModeText);
}

section p span {
    font-weight: 300;
}

.right {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 35px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#border {
    display: flex;
    justify-content: space-between;
}

#border p {
    margin: 0;
}

#border> p {
    width: 25%;
}

.allCountsBorder {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.allCountsBorder a {
    text-decoration: none;
    color: var(--ModeText);
    background-color: var(--ModeElements);
    font-size: 20px;
    padding: 4px 10px;
}

#regionFilter {
    cursor: pointer;
    position: relative;
    user-select: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--ModeElements);
    width: 200px;
    text-align: left;
    font-size: 16px;
    z-index: 1;
  }
  
  /* Estilo para las opciones del select personalizado */
  #selectOptions {
    display: none;
    position: absolute;
    width: 220px;
    border: none;
    border-top: none;
    border-radius: 0 0 5px 5px;
    z-index: 2;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .option {
    padding: 10px;
    background-color: var(--ModeElements);
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .option:hover {
    background-color: var(--ModeBackground);
  }
  
  .option.selected {
    background-color: var(--ModeBackground);
    color: #fff;
  }
  .show-options {
    display: block !important;
  }